<launch>
    <!-- <arg name="ip_addr" default="192.168.0.101" /> -->
    <node pkg="anavs-ros-adapter"    type="nmea_socket_publisher.py" name="nmea_messages"     />
    <node pkg="nmea_navsat_driver"   type="nmea_topic_driver"        name="nmea_topic_driver" />
    <!-- <node pkg="rviz"    type="rviz"     name="rviz"
          args="-d $(find anavs-ros-adapter)/rviz/anavs.rviz" /> -->
</launch>
