<launch>
  <!-- Run NMEA nodes -->
  <include file="$(find anavs-ros-adapter)/launch/fix.launch">
    <arg name="display" value="false" />
  </include>

  <!-- Run ANAVS nodes -->
  <include file="$(find anavs-ros-adapter)/launch/anavs_display.launch">
    <arg name="display" value="false" />
  </include>

  <arg name="record"      default="true" />
  <group  if="$(arg record)">

    <node pkg="rosbag"  type="record"   name="record_tfs"
          args="--output-prefix=$(find anavs-ros-adapter)/bagfiles/tfs
                /tf" />

    <node pkg="rosbag"  type="record"   name="record_anavs"
          args="--output-prefix=$(find anavs-ros-adapter)/bagfiles/anavs 
                /anavs/solution/pos_xyz" />

    <node pkg="rosbag"  type="record"   name="record_fix"
          args ="--output-prefix=$(find anavs-ros-adapter)/bagfiles/fix
                 /fix" />

  </group>

</launch>
