<launch>
    <arg name="ip_addr" default="192.168.0.100" />
    <node pkg="anavs-ros-adapter" type="anavs_ros_ethernet_client" name="anavs_positioning_solution"   output="screen"
          args="padsolution2ros --ip $(arg ip_addr) --remove_pos_offset --publish_to_tf --publish_path"/>

    <node pkg="rviz"    type="rviz"     name="rviz"
          args="-d $(find anavs-ros-adapter)/rviz/anavs.rviz" />
</launch>
